@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

:root{
  --tunafe-green: #00893b;
  --engineer: #8c2d19;
  --dark-grey: #3b4045;
  --tunafe-light: #ececec;
}

html{
  font-family: 'Source Sans Pro', sans-serif;
}