@import "concept.css";

html{
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-height: calc(100vh - 5.5rem);
  position: relative;
}

.content {
    margin-top: 100px; /* Push content below the header */
  }
  
.content-image {
  display: block;
  max-width: 100%;
  height: auto;
}


.siteMenu{
  display:flex;
  justify-content:space-around;
  align-items:center;
}

#mobileMenu{
  display: none;
}

#menuIcon{
  background-color: transparent;
  color: var(--dark-grey);
  border: 0;
}
#menuIcon:hover{
  background-color: var(--dark-grey);
  color: var(--tunafe-light);
}
#menuIcon.dropdown-toggle::after{
  display: none;
}

#menu{
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: flex-start;
  padding: 1rem;
  min-width: 8rem;
  min-height: 10rem;
  margin-top: 1.43rem;
  background-color: var(--tunafe-light);
  border: 0;
}

header, #menu{
  box-shadow: 0 5px 5px 0px #000;
}

.headerLink{
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  color: var(--dark-grey);
  font-weight: bold;
  font-size: larger;
}
.headerLink:hover{
  text-decoration: none;
  color: var(--engineer);
}

/* footer */

footer{
  background-color: var(--dark-grey);
  color: var(--white);
  font: 0.8rem;
  text-align: center;
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
  left:0;
  right:0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer p{
  margin: 0;
}

/* --- Content --- */

#pageContent{
  padding: 0;
  margin: 0;
  padding-bottom: 3.5rem;
}

.banner{
  height: calc(100vh - 88px);
  width: 100%;
}

#HomepageBanner h1{
  position: absolute;
  margin: 0;
  margin-right: 1rem;
  padding: 0;
  font-size: 3rem;
  color: #FFFFFF;
  text-shadow: 2px 2px var(--dark-grey);
  text-transform: uppercase;
  text-align: right;
  transition: 0.5s;
  opacity: 0.6;
  /* -webkit-background-clip: text; */
}

#HomepageBanner h1:hover {
  
}

@media only screen and (max-width: 890px) {
  #siteMenu{
    display: none;
  }
  #mobileMenu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}